/* Banner Section Class */
.banner-section{
   background-image: url(https://images.unsplash.com/photo-1488462237308-ecaa28b729d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=308&q=80);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 75vh;
}

.hero-text{
    text-align: center;
    position: relative;
    transform: translate(10vh, 10vw);
}

form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.container { max-width: 160px; }

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 35%;
}

.left { float: left; }

.right { float: right; }
